<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="app">

        <div class="form-section">
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>
        </div>

        <div class="images-section">
            {% for file_url in images %}
                {% if file_url.endswith('.pdf') %}
                    <a href="{{ file_url }}" target="_blank">
                        <div class="pdf-icon">📄 View PDF</div>
                    </a>
                {% else %}
                    <a href="{{ file_url }}" target="_blank">
                        <img src="{{ file_url }}" alt="Uploaded image" />
                    </a>
                {% endif %}
            {% endfor %}
        </div>
             
</div>
</body>
</html>